}
	.logo{
		margin-right: auto;
	    margin-left: auto;
	    margin-top: 100px;
	    width: 400px;
	}
	.logo:hover{
		cursor: pointer;
 		transform: translateX(20px);
 		transition: all 0.4s ease-out; 		
	}
	h1{
		font-family: 'Lucida';
		text-align: center;
	}
	.menu{
		width: : 100%;
		height: 50px;
		background-color: #222;
		font-family: 'Lucida';
		
	}
	.menu ul{ 
		list-style: none;
		position: relative;	
		margin-left: 300px auto;	
	}
	.menu ul li{
		width: 150px;
		float: left;		
	}
	.menu a{ 
		padding: 15px; 
		display: block;
		text-decoration: none;
		text-align: center;
		background-color: #222;
		color: #fff
	}
 	.menu ul ul{ 
 		position: absolute;
 		visibility: hidden
 	}
 	.menu ul li:hover ul{
 		visibility: visible

 	}
 	.menu a:hover{
 		cursor: pointer;
 		transform: scale(1.3); /*growwww*/
 		transition: background-size 1s 0s;
 		border-radius: 8%; 	
 		background-color: #FE9A2E;
 		color: #000000;
 		margin-left: auto;
 	} 	
 	.menu ul ul li{
 		float: none;
 		border-bottom: solid 1xp #ccc;
 	}
 	.menu ul ul li a{
 		background-color: #FE9A2E; 
 	}
 	label[for="bt_menu"]{
 		padding: 5px;
 		background-color: #FE9A2E;
 		color: #fff;
 		font-family: 'Lucida';
 		text-align: center;
 		font-size: 30px;
 		cursor: pointer;
 		width: 50px;
 		height: 50px;
 	}
 	#bt_menu{
 		display: none;
 	}
 	label[for="bt_menu"]{
 		display: none;
 	}

@media(max-width: 800px){
	label[for="bt_menu"]{
		display: block;
	}
	#bt_menu:checked ~ .menu{
		margin-left: 0; 
	}
	.menu{
		margin-top: 5px;
		margin-left: 100%;
		transition: all .4s;
		position: center;
	}
	.menu ul{
		margin-left: 0;
	}
	.menu ul li{
		width: 100%;
		float: none;
	}
	.menu ul ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: : all .4s;
	}
	.menu ul li:hover ul{
		height: auto;
		max-height: 200px;
	}
}


*{
		margin: 0;
		padding: 0;

	}
	section{  
		margin: auto; /*Margem de fundo do objeto*/
		margin-top: 50px;  /*altura do obj na pgina*/
		width: 1000px; /*largura do objeto*/
		height: 100px; /*altura do objeto*/
		margin-bottom: 0px;
	}
	.rede{ 			/*classe rede: tudo que for rede ..*/
		width: 95px;
		height: 95px;
		float: left;
		margin-left: 25px;
		margin-right: 25px;
		margin-top: 0px;
		margin-bottom: 0px;
		transition: all 0.4s ease-out;
		border-radius: 50%;
	}
	.rede:hover{
 		cursor: pointer;
 		transform: translateY(-20px);
 		box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
	}
	.rede#facebook{
		background-color: #2372a3 /*elementos - e suas cores*/
	}
	.rede#twitter{
		background-color: #0084b4
	}
	.rede#instagram{
		background-color: #3f729b
	}
	.rede#snap{
		background-color: #fc0
	}
	.rede#youtube{
		background-color: #b00
	}
	.rede#plus{
		background-color: #dd4b39
	}
	.icone{                        /*icones: imagens */
		margin: 0px auto;			/*icones ajustados dentro dos elementos*/
		padding: 30px;
		width: 75px;
	}

	@media(max-width: 800px){  /*redimencionamento*/
	label[for="rede"]{
		display: block;
	}
	.rede{
		margin-left: auto;
		position: center;		
	}
	.menu{
		shape-margin: 09=px
		padding: 33px;

	}
	@media (max-width: 800px){
	label[for="bt_menu"]{
		display: block;
		margin-bottom: 30px;
	}
