.btn-edit { 
  color: #ffffff; 
  background-color: #EDAE42; 
  border-color: #F0EFF2; 
} 
 
.btn-edit:hover, 
.btn-edit:focus, 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  color: #ffffff; 
  background-color: #DBA13D; 
  border-color: #F0EFF2; 
} 
 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  background-image: none; 
} 
 
.btn-edit.disabled, 
.btn-edit[disabled], 
fieldset[disabled] .btn-edit, 
.btn-edit.disabled:hover, 
.btn-edit[disabled]:hover, 
fieldset[disabled] .btn-edit:hover, 
.btn-edit.disabled:focus, 
.btn-edit[disabled]:focus, 
fieldset[disabled] .btn-edit:focus, 
.btn-edit.disabled:active, 
.btn-edit[disabled]:active, 
fieldset[disabled] .btn-edit:active, 
.btn-edit.disabled.active, 
.btn-edit[disabled].active, 
fieldset[disabled] .btn-edit.active { 
  background-color: #EDAE42; 
  border-color: #F0EFF2; 
} 
 
.btn-edit .badge { 
  color: #EDAE42; 
  background-color: #ffffff; 
}




.btn-del { 
  color: #ffffff; 
  background-color: #730816; 
  border-color: #F0EFF2; 
} 
 
.btn-del:hover, 
.btn-del:focus, 
.btn-del:active, 
.btn-del.active, 
.open .dropdown-toggle.btn-del { 
  color: #ffffff; 
  background-color: #66202E; 
  border-color: #F0EFF2; 
} 
 
.btn-del:active, 
.btn-del.active, 
.open .dropdown-toggle.btn-del { 
  background-image: none; 
} 
 
.btn-del.disabled, 
.btn-del[disabled], 
fieldset[disabled] .btn-del, 
.btn-del.disabled:hover, 
.btn-del[disabled]:hover, 
fieldset[disabled] .btn-del:hover, 
.btn-del.disabled:focus, 
.btn-del[disabled]:focus, 
fieldset[disabled] .btn-del:focus, 
.btn-del.disabled:active, 
.btn-del[disabled]:active, 
fieldset[disabled] .btn-del:active, 
.btn-del.disabled.active, 
.btn-del[disabled].active, 
fieldset[disabled] .btn-del.active { 
  background-color: #730816; 
  border-color: #F0EFF2; 
} 
 
.btn-del .badge { 
  color: #730816; 
  background-color: #ffffff; 
}




.btn-cad { 
  color: #ffffff; 
  background-color: #117009; 
  border-color: #F0EFF2; 
} 
 
.btn-cad:hover, 
.btn-cad:focus, 
.btn-cad:active, 
.btn-cad.active, 
.open .dropdown-toggle.btn-cad { 
  color: #ffffff; 
  background-color: #39591E; 
  border-color: #F0EFF2; 
} 
 
.btn-cad:active, 
.btn-cad.active, 
.open .dropdown-toggle.btn-cad { 
  background-image: none; 
} 
 
.btn-cad.disabled, 
.btn-cad[disabled], 
fieldset[disabled] .btn-cad, 
.btn-cad.disabled:hover, 
.btn-cad[disabled]:hover, 
fieldset[disabled] .btn-cad:hover, 
.btn-cad.disabled:focus, 
.btn-cad[disabled]:focus, 
fieldset[disabled] .btn-cad:focus, 
.btn-cad.disabled:active, 
.btn-cad[disabled]:active, 
fieldset[disabled] .btn-cad:active, 
.btn-cad.disabled.active, 
.btn-cad[disabled].active, 
fieldset[disabled] .btn-cad.active { 
  background-color: #117009; 
  border-color: #F0EFF2; 
} 
 
.btn-cad .badge { 
  color: #117009; 
  background-color: #ffffff; 
}lor: #ffffff; 
}